@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&family=Nanum+Brush+Script&display=swap');
*{margin: 0; padding: 0;}
/* 16:9 화면상 1600px */
#container{width: 100%; margin: 0 auto; }
main{width: 1200px; margin: 0 auto; box-sizing: border-box;}
/* header영역 스타일 */
header{height:80px; background: rgb(15, 68, 15);}
header #logo{width: 300px; float: left; padding-left: 30px;
line-height: 80px;}
#logo h1 a{color: beige; text-decoration: none; font-family: Merienda;}
nav{width: 800px; float: right;line-height: 80px;
    text-align: center; margin-right: 100px; }
nav #topMenu{list-style: none; }
#topMenu li{display: inline-block; padding: 0 20px;}
#topMenu li:hover{background-color: rgb(16, 165, 16)}
#topMenu li a{color:white; text-decoration: none;}
#topMenu li a:hover{color: beige;}

/* main 영역 스타일 */
#contents section{margin: 30px 10px;}
#healing, #activity{height: 320px;}
section div{margin: 10px;}
section p{line-height:2;}
#healing img{float:left; margin-right: 20px; border-radius: 10px;}
.schedule h3{margin-top: 20px;}
.schedule ul li{list-style: none; margin:10px;}

#activity img{float:left; margin-right: 20px; border-radius: 10px;}
#sightseeing ul li{list-style: square; margin: 10px 30px;}
#sightseeing a{text-decoration: none; color: blue;}
#sightseeing a:hover{text-decoration: underline; color: blue;}
/* footer 영역 */
footer{width: 1200px; height: 100px; margin: 0 auto; border-top: 2px solid #555;}
footer #bottomMenu{list-style:  none; padding: 20px;}
#bottomMenu li{display: inline-block; margin: 0 ; border-right: 1px solid #444; padding: 0 10px; }
#bottomMenu a{text-decoration: none; color: #444; }
#bottomMenu li:last-child{border: none;}

/* product 스타일 */
#product p{line-height: 2;}
#product h2{margin-bottom: 10px;}
#description{width:800px; margin: 30px auto; padding: 20px 60px ; border: 1px dotted #000; 
    border-top-left-radius: 30px; border-top-right-radius: 30px; }
#description img{margin: 0 10px 10px; border-radius: 10px;}
#receipe{width: 800px ; border: 1px dotted #333; padding: 20px 60px; margin: 0 auto;}
#receipe ol{padding-left: 20px; margin-top: 10px}
#receipe ol li{line-height: 1.7;}
#package{width:800px; margin: 30px auto; padding: 20px 60px ; border: 1px dotted #000; 
    border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
#package table, th, td{padding: 10px 20px; border: 1px solid #ccc; border-collapse: collapse;}

/* qna 스타일 */
#board section h2{margin: 30px 10px; text-align: center;}
#board #tb1_board{ border: 1.5px solid rgb(16, 165, 16);
    border-collapse: collapse; width: 800px; margin: 0 auto 50px ;}
#tb1_board thead{background-color: beige;}
#tb1_board td:nth-child(1),td:nth-child(3),td:nth-child(4){text-align: center;}
#tb1_board td:nth-child(1){width: 50px;}
.btn{text-align: right; margin-right:200px ; margin-bottom: 50px; }
.btn button{padding: 6px 15px; cursor: pointer;}

/* aboume 스타일 영역 */
#about section{margin: 30px 10px;}
#aboutme, #me{height: 320px;}
section div{margin: 10px;}
section p{line-height:2;}
#aboutme img{float:left; margin-right: 80px; border-radius: 100px;}

/* spec 영역 */

.about_list{list-style: none; text-align: center;}
.about_list img{float: left}
.about_list li{display: inline-block; margin: 5px 10px; 
             position: relative; overflow: hidden; }
.about_list .caption{
    width:182px; height: 235px; position: absolute; top: 235px;
    background: url(../images/shadow.png);opacity: 0.8 ; transition: all 0.5s;
    margin: 0;}
.about_list li:hover .caption{transform: translateY(-235px ); padding: 20px;}
.about_list h2{ padding: 10px 20px 0px;}
.about_list .caption h2{clear: both; color:#fff; line-height: 2.5;}
.caption p{color:#fff; line-height: 2.5;}
#spec_li ul{padding-left: 30px; line-height: 1.8;}
#spec_li2 ul{padding-left: 30px;line-height: 1.8;}

/* register 영역 */
.register h1{ text-align: center; padding: 10px;}
#tb1_write{margin: 0 auto; padding: 30px; text-align: center;}
#tb1_write td #write{width: 70px; height: 30px; ;} 
